*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
.container{
    width:100%;
    
}
#chicken > div {
    background-color: red;
  }
  
#beef > div{
    background-color: violet;
  }
  
#sushi > div {
    background-color: green;
  }
.sub-container{
    width:fit-content;
    margin:auto;
}
#top{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    margin:20px;
}

section{
    position:relative;
    background-color: grey;
    border:1px solid black;
    margin:8px;
    padding:20px;
     
    }

.title{
    position:absolute;
    top:0px;
    right:0px;
    background-color: red;
    border:1px solid black;
    border-right: none;
    color:white;
    
}

@media screen and (min-width: 992px){
    .large{
        width:30% !important;
        float:left;
    }
    #chichen{
        margin-left: 70px;
    }
    
      #beef {
        margin-right: 0;
      }
    
      #sushi {
        margin-right: 0;
      }
}

@media screen and (min-width: 768px)and (max-width:991px){
    .large:last-child{
        width:100%;
    }
    .large{
        width:calc(50% - 20px);
        float:left;

    }
    
    #sushi {
        
        width:auto;
      }
   
}

  


